export MongoDataBaseUri_User=localhost:12
export MongoDataBaseDB_User=ExampleDB
export MongoDataBaseCollection_User=User

export MongoDataBaseUri_Admin=localhost:12
export MongoDataBaseDB_Admin=ExampleDB
export MongoDataBaseCollection_Admin=Admin
